.LoginForm {
    display: flex;
    flex-direction: column;
}

.LoginForm-entrance {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.LoginForm-button {
    margin-top: 20px;
    max-width: 50px;
    width: 100%;
}